/* General styles */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f2f5;
}

/* Index page styles */
#IndexPage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: aliceblue;
}

.AuthContainer {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#GoogleLogin {
    background-color: #4285F4;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 12px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

#GoogleLogin:hover {
    background-color: #357AE8;
}

/* Chat page styles */
/*
#chatID {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
*/

#chatID{
    display: flex;
    height: 100vh;
}

#chat-area{
    background-color: #45a049;     
    border: 1px solid;
    flex: 3;
    padding-left: 20px;   
}

#chat-container{
    background-color: #357AE8;
    border: 1px solid;
    flex: 1;
}

#user-info {
    margin-bottom: 20px;
    font-weight: bold;
    padding: 10px;
    background-color: #f0f2f5;
    border-radius: 4px;
}

#chat-box {
    height: 400px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 4px;
}



.message {
    margin-bottom: 10px;
    clear: both;
    overflow: hidden;
}

.message-content {
    display: inline-block;
    padding: 8px 12px;
    border-radius: 18px;
    max-width: 70%;
    word-wrap: break-word;
}

.sender {
    text-align: right;
}

.sender .message-content {
    background-color: #DCF8C6;
    float: right;
}

.receiver .message-content {
    background-color: #E5E5EA;
    float: left;
}

.user-name {
    font-weight: bold;
    margin-bottom: 4px;
    font-size: 0.9em;
}

#chat-form {
    display: flex;
    margin-bottom: 20px;
}

#message-input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}