#chat-box{
    border: 1px;
    border-style: solid;
    border-color: black ;
    padding: 10px;
    height: 300px;
    overflow-y: scroll;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.message{
    margin-bottom: 10px;
}

.username {
    font-weight: bold;
}

#user-info{
    margin-bottom: 20px;
}